<!--Didn't have time to move, so all components are here:) Prints all pokemon details-->
<header>
  <div class="baseStats">
    <h4>{{ pokemon.name }}</h4>
    <div class="collectDiv">
      <button
        type="button"
        (click)="onCollectClick()">
        Collect Pokemon
      </button>
    </div>
    <aside>
      <img width="30%" [src]="pokemon.image" [alt]="pokemon.name" />
    </aside>
    <h4>Base stats</h4>
    <p *ngFor="let stat of pokemon.stats">
      {{stat.stat.name}}
      {{stat.base_stat}}
    </p>
  </div>
  <article class="profile">
    <h4>Profile</h4>
    <p>Height: {{ pokemon.height }}</p>
    <p>Weight: {{ pokemon.weight }}</p>
    <p>Base XP: {{ pokemon.base_experience}} </p>
    <h4>Abilities: </h4>
    <p *ngFor="let ability of pokemon.abilities">
      {{ability.ability.name}}
    </p>
  </article>
  <div class="pokemonMoves">
    <h4>Moves</h4>
    <p *ngFor="let move of pokemon.moves">
      {{move.move.name}}
    </p>
  </div>
</header>
