a {
  list-style: none;
  margin-right: 1em;
  text-decoration: none;
  color: black;
}

.navbar-list-items {
  display: flex;
}

.navbar-list {
  float: right;
}

 .pokemon-navbar {
   position: sticky;
   background-color: white;
   top: 0;
   border: darkgrey solid 2px;
   padding: 1em;
 }

 .navbar-brand img{
   max-width: 70px;
 }
