<div class="pokemon-navbar">
    <a [routerLink]="appRoutes.POKEMON" class="navbar-brand">
      <img src = "../../../../assets/pokemonlogo.png" alt="pokemon logo for navbar"/>
    </a>
  <!--Only show these items in navbar if logged in-->
  <div *ngIf="hasActiveSession" class="navbar-list">
  <div class="navbar-list-items">
    <a [routerLink]="appRoutes.POKEMON">Pokedex</a>
    <a [routerLink]="appRoutes.TRAINER">Trainer</a>
  </div>
  </div>
</div>
