.pokemon-grid {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( 220px, 1fr ) );
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

.pokemon-grid img {
  width: 40%;
}
