<ul class="pokemon-grid">
  <!--For loop to print name and images in grid-->
  <li *ngFor="let poke of pokemon" [routerLink]="poke.name">
    <img [src]="poke.image" [alt]="poke.name" />
    {{poke.name}}
  </li>
</ul>
