<form [formGroup]="loginForm">
  <label for="trainer-name" aria-label="Trainer name">
    What's your name?</label>
  <input id="trainer-name" name="trainer-name" formControlName="trainerName" type="text"
         [(ngModel)]="username" placeholder="Enter your trainer name" required minlength="2" maxlength="20">

  <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
    <p *ngIf="trainerName.errors.required">
      Trainer name is required
    </p>
    <p *ngIf="trainerName.errors.minlength">
      Trainer name is too short (min 2 characters)
    </p>
    <p *ngIf="trainerName.errors.maxlength">
      Trainer name is too long (max 20)
    </p>
  </div>

  <button
    [disabled]="loginForm.invalid || loading"
    type="button"
    (click)="onStartClick()">
    Login Trainer
  </button>
</form>
